<p>{{ today }}</p>
<div class="input-field">
  <mat-form-field style="text-align: center">
    <mat-label><strong> Location</strong></mat-label>
    <input
      placeholder="Select a location..."
      matInput
      #location
      (keydown.enter)="submit(location.value)"
    />
  </mat-form-field>

  <button mat-raised-button submit="submit" (click)="submit(location.value)">
    ->
  </button>
</div>
<p *ngIf="weatherData8Days$ | async as loc">
  {{ loc?.location }}
</p>

<mat-progress-spinner
  *ngIf="isLoading$ | async"
  mode="indeterminate"
></mat-progress-spinner>

<ng-container
  *ngIf="{
    weatherData: weatherData8Days$ | async,
    todaysWeather: weatherDataToday$ | async, 
  } as vars"
>
  <ng-container *ngIf="vars.todaysWeather; else elseBlock">
    <div class="current-day">
      <h2>{{ vars.todaysWeather.shortDescription }}</h2>
      <div class="current-degree">
        <span class="temp">{{ vars.todaysWeather.temperature }}</span>
        <span class="unit">°C</span>
      </div>
    </div>
    <div class="container">
      <app-day
        *ngFor="let day of vars.weatherData?.dailyWeathers"
        [day]="day"
      ></app-day>
    </div>
  </ng-container>
</ng-container>

<ng-template #elseBlock></ng-template>
