<mat-progress-spinner
  *ngIf="isLoading$ | async"
  mode="indeterminate"
></mat-progress-spinner>

<mat-form-field
  ><input placeholder="Select a location..." matInput #location
/></mat-form-field>

<button mat-raised-button submit="submit" (click)="submit(location.value)">
  ->
</button>

<ng-container
  *ngIf="{
    weatherData: weatherData$ | async,
    todaysWeather: todaysWeather$ | async,
  } as vars"
>
  <ng-container *ngIf="vars.todaysWeather; else elseBlock">
    <div class="container">
      <div class="current-day">
        <div class="current-degree">
          <span class="temp">{{ vars.todaysWeather.temperature }}</span>
          <span class="unit">°C</span>
        </div>
        <h2>{{ vars.todaysWeather.shortDescription }}</h2>
      </div>

      <app-day
        *ngFor="let day of vars.weatherData?.dailyWeathers"
        [day]="day"
      ></app-day>
    </div>
  </ng-container>
</ng-container>

<ng-template #elseBlock></ng-template>
