:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.current-day {
  display: flex;
  align-items: center;

  .current-degree {
    display: flex;
    align-items: baseline;
    justify-content: center;

    .temp {
      font-size: 5rem;
      margin: 5rem 0 5rem 0;
    }

    .unit {
      font-size: 2rem;
      margin-top: 5rem;
      margin-bottom: 5rem;
    }
  }
}

.container {
  display: grid;
  gap: 5px;
  grid-template-columns:
    [left-margin] auto [now] 15rem [margin] repeat(10, 5rem) [symmetry-col] 15rem [right-margin] auto [end];


  .days {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 5px;
  }
}

.no-location-message {
  margin-top: 10rem;
  text-align: center;
  font-size: 2rem;
}

mat-form-field {
  display: flex;
  width: 30vw;

  .mdc-text-field--filled {
    background-color: none;
  }

  input {}
}

button {
  max-width: 100px;
}