html,
body {
  height: 100%;
  color: #272727;
  background:
    linear-gradient(rgba(255, 255, 255, 0.8) 0%, rgba(206, 206, 217, 0.8) 40%, rgba(122, 123, 155, 0.8) 100%, transparent),
    linear-gradient(123deg, rgb(255, 255, 255) 0%, rgb(153, 188, 255) 43%, rgb(0, 0, 0) 100%, transparent)
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}