.day {
  height: 25rem;
  display: flex;
  text-align: center;
  flex-direction: column;

  .day-of-week {
    font-size: 1.25rem;
  }

  .temps {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 11px;
    font-size: large;

    .temp {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      width: 3rem;
      height: 3rem;
      position: relative;
      background-color: #ffffff9c;

      &.max {
        border: solid #ff5a1a 2px;
      }

      &.min {
        border: solid #586bd8 2px;
      }
    }
  }
}

.forecast-icon {
  margin-top: 11px;
  height: 50px;
  width: 50px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(109deg) brightness(104%) contrast(103%);
}